@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#header > div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
  width: 93%;
  margin: 0 auto;
}

.search-wrapper {
  position: relative;
}

.search-wrapper i {
  position: absolute;
  left: 14px;
  top: 9px;
}

#about-img {
  max-height: 600px;
}

#recipes {
  max-width: 1100px;
  width: 96%;
  margin: 0 auto;
}

/*Mobile responsiveness */
@media screen and (max-width: 768px) {
  #header p {
    font-size: 30px;
  }

  #header a {
    font-size: 25px;
  }

  #search-bar {
    font-size: 20px;
  }

  #about-img {
    height: 300px;
    justify-content: center;
    align-items: center;
  }

  .text {
    font-size: 6px;
    height: 96%;
  }

  .content-wrapper {
    height: 1500px;
  }

  #recipe-header {
    font-size: 24px;
  }

  #ingredients-and-directions > div {
    padding-left: 8px;
    margin: 8px;
  }
}

#back-button {
  padding: 8px 12px;
  margin: 5;
  font-size: 36px;
  background-color: #bfdbfe;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

#search-bar {
  background-color: #bfdbfe;
  max-width: 140px;
  width: 100%;
  height: 40px;
  border-radius: 12px;
  padding-left: 40px;
  font-size: 20px;
}

#back-button:hover {
  background-color: rgba(59, 130, 246, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-container {
  width: auto;
  height: auto;
  position: relative;
}

.recipe-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

#root {
  margin: 0 auto;
  text-align: center;
  outline: ;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #e8f0ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 4 4'%3E%3Cpath fill='%23add8e6' fill-opacity='0.9' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/**
 * @license
 *
 * Font Family: Dancing Script
 * Designed by: Impallari Type
 * URL: https://www.fontshare.com/fonts/dancing-script
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * Dancing Script Variable(Variable font)
 * Dancing Script Regular
 * Dancing Script Bold
 *
*/

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 400.0;
*
* available axes:

* 'wght' (range from 400.0 to 700.0)

*/

@font-face {
  font-family: "DancingScript-Variable";
  src: url("/fonts/DancingScript-Variable.woff2") format("woff2"),
    url("/fonts/DancingScript-Variable.woff") format("woff"),
    url("/fonts/DancingScript-Variable.ttf") format("truetype");
  font-weight: 400 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "DancingScript-Regular";
  src: url("/fonts/DancingScript-Regular.woff2") format("woff2"),
    url("/fonts/DancingScript-Regular.woff") format("woff"),
    url("/fonts/DancingScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "DancingScript-Bold";
  src: url("/fonts/DancingScript-Bold.woff2") format("woff2"),
    url("/fonts/DancingScript-Bold.woff") format("woff"),
    url("/fonts/DancingScript-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/**
 * @license
 *
 * Font Family: Satoshi
 * Designed by: Deni Anggara
 * URL: https://www.fontshare.com/fonts/satoshi
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * Satoshi Variable(Variable font)
 * Satoshi Variable Italic(Variable font)
 * Satoshi Light
 * Satoshi Light Italic
 * Satoshi Regular
 * Satoshi Italic
 * Satoshi Medium
 * Satoshi Medium Italic
 * Satoshi Bold
 * Satoshi Bold Italic
 * Satoshi Black
 * Satoshi Black Italic
 *
*/

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: "Satoshi-Variable";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: "Satoshi-Light";
  src: url("/fonts/Satoshi-Light.woff2") format("woff2"),
    url("/fonts/Satoshi-Light.woff") format("woff"),
    url("/fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2"),
    url("/fonts/Satoshi-Regular.woff") format("woff"),
    url("/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("/fonts/Satoshi-Medium.woff") format("woff"),
    url("/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("/fonts/Satoshi-Bold.woff") format("woff"),
    url("/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("/fonts/Satoshi-Black.woff2") format("woff2"),
    url("/fonts/Satoshi-Black.woff") format("woff"),
    url("/fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

/**
 * @license
 *
 * Font Family: Gambarino
 * Designed by: Théo Guillard
 * URL: https://www.fontshare.com/fonts/gambarino
 * © 2023 Indian Type Foundry
 *
 * Font Style:
 * Gambarino Regular
 *
*/

@font-face {
  font-family: "Gambarino-Regular";
  src: url("/fonts/Gambarino-Regular.woff2") format("woff2"),
    url("/fonts/Gambarino-Regular.woff") format("woff"),
    url("/fonts/Gambarino-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
